/* ---------- General ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.7;
}

/* ---------- Header ---------- */

header {
    position: sticky;
    top: 0;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-size: 1.9rem;
    font-weight: bold;
    color: #38bdf8;
}

nav{
    display:flex;
    gap:10px;
}

nav a{
    color:#cbd5e1;
    text-decoration:none;

    padding:10px 18px;
    border-radius:999px;
    font-weight:600;

    transition:all .25s ease;
}

nav a:hover{
    color:#38bdf8;
    background:#1e293b;
    transform:translateY(-2px);
    box-shadow:0 0 12px rgba(56,189,248,.25);
}

/* ---------- Sections ---------- */

section,
footer{
    width:80%;
    max-width:1100px;
    margin:auto;
    padding:10px 0;
}
section h2{
    color:#38bdf8;
    font-size:2.8rem;
    font-weight:700;
    margin-bottom:20px;
    text-align:left;
    transform:translateX(-40px);
}

/* ---------- Hero ---------- */

.hero {
    width: 85%;
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-text {
    flex: 1.3;
}

.hero-image {
    flex: 0.8;
    text-align: center;
    transform: translate(-55px, 30px);
}

.hero-image img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

.hero h1 {
    font-size:3.4rem;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-school {
    color: #94a3b8;
    margin-bottom: 25px;
}

.hero-description {
    max-width: 540px;
    line-height: 1.8;
    margin-top: 18px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 12px 28px;
    border: 2px solid #38bdf8;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.button:hover {
    background: #38bdf8;
    color: #0f172a;
}

/* ---------- Project Cards ---------- */

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    margin:30px 0;
}

.project-card h3{
    font-size:2rem;
    margin-bottom:14px;
}

.project-card a{
    display:inline-block;
    margin-top:20px;
    color:#38bdf8;
    text-decoration:none;
    font-weight:bold;
    font-size:1.1rem;
}

.project-card a:hover{
    text-decoration:underline;
}

/* ---------- Footer ---------- */

footer {
    border-top: 1px solid #1e293b;
    text-align: center;
}

.project-image{
    width:100%;
    max-width:675px;
    max-height:400px;
    margin:25px auto;
    border-radius:18px;
    overflow:hidden;
}

.project-image img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
    background:transparent;
}
.tube-image{
    max-width:700px;
}

.tube-image img{
    height:350px;
    width:100%;
    object-fit:cover;
    object-position:center;
}
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:30px;
}

.skill-box{
    background:#1e293b;
    padding:25px;
    border-radius:12px;

    transition:transform .25s ease,
               box-shadow .25s ease;
}

.skill-box:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 30px rgba(0,0,0,.25);
}

.skill-box h3{
    color:#38bdf8;
    margin-bottom:15px;
}

.skill-box p{
    line-height:2;
    font-size:1.1rem;
}


/* ---------- Research ---------- */

.research-card{
    background:#1e293b;
    padding:24px;
    border-radius:12px;
    margin-top:20px;

    transition:transform .25s ease;
}
.research-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 30px rgba(0,0,0,.25);
}

.research-card h3{
    color:#38bdf8;
    margin-bottom:12px;
}

.tube-image{
    object-position: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 18px;
}

.tags span {
    background: #334155;
    color: #38bdf8;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.emg-image {
    object-position: center 77%;
    object-fit: contain;
    background:white;
}