/* ---------- General ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.8;
}

/* ---------- Header ---------- */

header {
    position: sticky;
    top: 0;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #38bdf8;
}

nav a {
    color: #cbd5e1;
    text-decoration: none;
    margin-left: 25px;
    transition: .25s;
}

nav a:hover {
    color: #38bdf8;
}

/* ---------- Sections ---------- */

section:not(hero),
footer {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}

/* ---------- Hero ---------- */

.hero {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text {
    flex: 1.3;
}

.hero-image {
    flex: 0.8;
    text-align: center;
}

.hero-image img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

.hero h1 {
    font-size: 3.4rem;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-school {
    color: #94a3b8;
    margin-bottom: 25px;
}

.hero-description {
    max-width: 550px;
    font-size: 1.25rem;
    line-height: 1.9;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 12px 28px;
    border: 2px solid #38bdf8;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.button:hover {
    background: #38bdf8;
    color: #0f172a;
}

/* ---------- Footer ---------- */

footer {
    border-top: 1px solid #1e293b;
    text-align: center;
}

.project-image {
    width: 100%;
    height: 570px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 25px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emg-image {
    object-position: center 77%;
    object-fit: contain;
    background:white;
}

.overview-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:35px;
    margin-top:20px;
}

.overview-card{
    background:#1e293b;
    padding:40px;
    border-radius:16px;
}

.overview-card h2{
    color:#38bdf8;
    font-size:2rem;
    margin-bottom:25px;
}

.overview-card ul{
    padding-left:30px;
}

.overview-card li{
    font-size:1.15rem;
    line-height:2.4;
    padding-left:6px;
}